<h1 class='message-heading'>Message Content</h1>
Read it really carefully baby!<br>
Once you read it, you won't be able to read it again (except there is a security bug in our system ^_^ )
<hr>
<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><%= @message.sender.name %></h3>
    </div>
    <div class="card-block">
      <p class="card-text"><%= @message.body %></p>
      <p class="card-text">
        <i class="pull-xs-right">Sent at: <%= @message.created_at.strftime("%d %b  %Y at %I:%M%p") %></i>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to 'Back', messages_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>