<tr>
  <td><%= new_friend.name %></td>
  <td><%= new_friend.email %></td>
  <td><%= link_to 'Add As Friend', friendships_path(friend_id: new_friend.id), method: :post, class: "btn btn-success" %></td>
</tr>