<div class="row">
  <div class="col-xs-6">
    <h1>I have <%= @friends.count %> friend(s)</h1>
  </div>
  <div class="col-xs-6">
    <%= link_to "Add more >>", new_friendship_path, class: 'btn btn-primary pull-xs-right' %>
  </div>
</div>
<br>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "friend", collection: @friends %>
  </tbody>
</table>